.headerContainer {
  width: 100%;
  height: 5rem;
  background: var(--black-800);
}

.headerContent {
  max-width: 720px;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  img {
    cursor: pointer;
  }
}
